.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}